**Imports**

In [14]:
import time
start_time = time.time()
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io
from google.colab import files

**DataSet** **Upload**

In [8]:
upload = files.upload()

Saving covid_data.csv to covid_data.csv

**Dataframing**

In [15]:
df = pd.read_csv(io.BytesIO(upload['covid_data.csv']))

**DataUpload check**

In [16]:
df.shape

(67166, 59)

In [17]:
df.head(10)

  iso_code continent  ... life_expectancy human_development_index
0      AFG      Asia  ...           64.83                   0.498
1      AFG      Asia  ...           64.83                   0.498
2      AFG      Asia  ...           64.83                   0.498
3      AFG      Asia  ...           64.83                   0.498
4      AFG      Asia  ...           64.83                   0.498
5      AFG      Asia  ...           64.83                   0.498
6      AFG      Asia  ...           64.83                   0.498
7      AFG      Asia  ...           64.83                   0.498
8      AFG      Asia  ...           64.83                   0.498
9      AFG      Asia  ...           64.83                   0.498

[10 rows x 59 columns]

In [18]:
df.nunique()

iso_code                                   192
continent                                    6
location                                   200
date                                       403
total_cases                              34313
new_cases                                 9391
new_cases_smoothed                       17775
total_deaths                             12928
new_deaths                                2305
new_deaths_smoothed                       5143
total_cases_per_million                  48425
new_cases_per_million                    27581
new_cases_smoothed_per_million           31234
total_deaths_per_million                 28379
new_deaths_per_million                    5548
new_deaths_smoothed_per_million           6782
reproduction_rate                          356
icu_patients                              1938
icu_patients_per_million                  3956
hosp_patients                             3696
hosp_patients_per_million                 6291
weekly_icu_admissions                      487
weekly_icu_admissions_per_million          482
weekly_hosp_admissions                     990
weekly_hosp_admissions_per_million         987
new_tests                                16890
total_tests                              29553
total_tests_per_thousand                 25397
new_tests_per_thousand                    5359
new_tests_smoothed                       18871
new_tests_smoothed_per_thousand           5575
positive_rate                              564
tests_per_case                            4996
tests_units                                  4
total_vaccinations                        1465
people_vaccinated                         1214
people_fully_vaccinated                    624
new_vaccinations                          1212
new_vaccinations_smoothed                 1766
total_vaccinations_per_hundred             555
people_vaccinated_per_hundred              469
people_fully_vaccinated_per_hundred        172
new_vaccinations_smoothed_per_million     1264
stringency_index                           175
population                                 192
population_density                         188
median_age                                 131
aged_65_older                              180
aged_70_older                              178
gdp_per_capita                             184
extreme_poverty                             75
cardiovasc_death_rate                      185
diabetes_prevalence                        136
female_smokers                             108
male_smokers                               124
handwashing_facilities                      95
hospital_beds_per_thousand                 100
life_expectancy                            179
human_development_index                    159
dtype: int64

In [20]:
df.dtypes

iso_code                                  object
continent                                 object
location                                  object
date                                      object
total_cases                              float64
new_cases                                float64
new_cases_smoothed                       float64
total_deaths                             float64
new_deaths                               float64
new_deaths_smoothed                      float64
total_cases_per_million                  float64
new_cases_per_million                    float64
new_cases_smoothed_per_million           float64
total_deaths_per_million                 float64
new_deaths_per_million                   float64
new_deaths_smoothed_per_million          float64
reproduction_rate                        float64
icu_patients                             float64
icu_patients_per_million                 float64
hosp_patients                            float64
hosp_patients_per_million                float64
weekly_icu_admissions                    float64
weekly_icu_admissions_per_million        float64
weekly_hosp_admissions                   float64
weekly_hosp_admissions_per_million       float64
new_tests                                float64
total_tests                              float64
total_tests_per_thousand                 float64
new_tests_per_thousand                   float64
new_tests_smoothed                       float64
new_tests_smoothed_per_thousand          float64
positive_rate                            float64
tests_per_case                           float64
tests_units                               object
total_vaccinations                       float64
people_vaccinated                        float64
people_fully_vaccinated                  float64
new_vaccinations                         float64
new_vaccinations_smoothed                float64
total_vaccinations_per_hundred           float64
people_vaccinated_per_hundred            float64
people_fully_vaccinated_per_hundred      float64
new_vaccinations_smoothed_per_million    float64
stringency_index                         float64
population                               float64
population_density                       float64
median_age                               float64
aged_65_older                            float64
aged_70_older                            float64
gdp_per_capita                           float64
extreme_poverty                          float64
cardiovasc_death_rate                    float64
diabetes_prevalence                      float64
female_smokers                           float64
male_smokers                             float64
handwashing_facilities                   float64
hospital_beds_per_thousand               float64
life_expectancy                          float64
human_development_index                  float64
dtype: object

In [22]:
df.tests_units.value_counts()

tests performed    21404
people tested       7417
samples tested      6128
units unclear        715
Name: tests_units, dtype: int64

In [27]:
df.groupby(["tests_units", "continent"]).size()

tests_units      continent
people tested    Africa             727
                 Asia              2456
                 Europe            1939
                 North America     1575
                 South America      720
samples tested   Africa            3020
                 Asia              2130
                 Europe             339
                 North America      639
tests performed  Africa            2782
                 Asia              4387
                 Europe           10019
                 North America     1250
                 Oceania           1032
                 South America     1934
units unclear    Africa             314
                 Asia               401
dtype: int64