### **Imports**

In [215]:
import time
start_time = time.time()
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io
import string
import os

### **DataSet** **Upload**

In [216]:
from google.colab import files , drive
drive.mount('/content/gdrive')
dataset = "/content/gdrive/My Drive/Colab Notebooks/covid_data.csv"

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

### **DataUpload check**

In [217]:
df = pd.read_csv(dataset)

In [218]:
df.shape

(67166, 59)

In [219]:
df.head(5)

  iso_code continent  ... life_expectancy human_development_index
0      AFG      Asia  ...           64.83                   0.498
1      AFG      Asia  ...           64.83                   0.498
2      AFG      Asia  ...           64.83                   0.498
3      AFG      Asia  ...           64.83                   0.498
4      AFG      Asia  ...           64.83                   0.498

[5 rows x 59 columns]

In [220]:
df.nunique()

iso_code                                   192
continent                                    6
location                                   200
date                                       403
total_cases                              34313
new_cases                                 9391
new_cases_smoothed                       17775
total_deaths                             12928
new_deaths                                2305
new_deaths_smoothed                       5143
total_cases_per_million                  48425
new_cases_per_million                    27581
new_cases_smoothed_per_million           31234
total_deaths_per_million                 28379
new_deaths_per_million                    5548
new_deaths_smoothed_per_million           6782
reproduction_rate                          356
icu_patients                              1938
icu_patients_per_million                  3956
hosp_patients                             3696
hosp_patients_per_million                 6291
weekly_icu_admissions                      487
weekly_icu_admissions_per_million          482
weekly_hosp_admissions                     990
weekly_hosp_admissions_per_million         987
new_tests                                16890
total_tests                              29553
total_tests_per_thousand                 25397
new_tests_per_thousand                    5359
new_tests_smoothed                       18871
new_tests_smoothed_per_thousand           5575
positive_rate                              564
tests_per_case                            4996
tests_units                                  4
total_vaccinations                        1465
people_vaccinated                         1214
people_fully_vaccinated                    624
new_vaccinations                          1212
new_vaccinations_smoothed                 1766
total_vaccinations_per_hundred             555
people_vaccinated_per_hundred              469
people_fully_vaccinated_per_hundred        172
new_vaccinations_smoothed_per_million     1264
stringency_index                           175
population                                 192
population_density                         188
median_age                                 131
aged_65_older                              180
aged_70_older                              178
gdp_per_capita                             184
extreme_poverty                             75
cardiovasc_death_rate                      185
diabetes_prevalence                        136
female_smokers                             108
male_smokers                               124
handwashing_facilities                      95
hospital_beds_per_thousand                 100
life_expectancy                            179
human_development_index                    159
dtype: int64

In [221]:
df.dtypes.value_counts()

float64    54
object      5
dtype: int64

In [222]:
df.dtypes

iso_code                                  object
continent                                 object
location                                  object
date                                      object
total_cases                              float64
new_cases                                float64
new_cases_smoothed                       float64
total_deaths                             float64
new_deaths                               float64
new_deaths_smoothed                      float64
total_cases_per_million                  float64
new_cases_per_million                    float64
new_cases_smoothed_per_million           float64
total_deaths_per_million                 float64
new_deaths_per_million                   float64
new_deaths_smoothed_per_million          float64
reproduction_rate                        float64
icu_patients                             float64
icu_patients_per_million                 float64
hosp_patients                            float64
hosp_patients_per_million                float64
weekly_icu_admissions                    float64
weekly_icu_admissions_per_million        float64
weekly_hosp_admissions                   float64
weekly_hosp_admissions_per_million       float64
new_tests                                float64
total_tests                              float64
total_tests_per_thousand                 float64
new_tests_per_thousand                   float64
new_tests_smoothed                       float64
new_tests_smoothed_per_thousand          float64
positive_rate                            float64
tests_per_case                           float64
tests_units                               object
total_vaccinations                       float64
people_vaccinated                        float64
people_fully_vaccinated                  float64
new_vaccinations                         float64
new_vaccinations_smoothed                float64
total_vaccinations_per_hundred           float64
people_vaccinated_per_hundred            float64
people_fully_vaccinated_per_hundred      float64
new_vaccinations_smoothed_per_million    float64
stringency_index                         float64
population                               float64
population_density                       float64
median_age                               float64
aged_65_older                            float64
aged_70_older                            float64
gdp_per_capita                           float64
extreme_poverty                          float64
cardiovasc_death_rate                    float64
diabetes_prevalence                      float64
female_smokers                           float64
male_smokers                             float64
handwashing_facilities                   float64
hospital_beds_per_thousand               float64
life_expectancy                          float64
human_development_index                  float64
dtype: object

### **Data Preprocessing**

In [223]:
df.drop(['new_cases_smoothed','new_deaths_smoothed','new_cases_smoothed_per_million','new_deaths_smoothed_per_million',
         'new_tests_smoothed_per_thousand','new_tests_smoothed', 'new_vaccinations_smoothed', 'new_vaccinations_smoothed_per_million'], axis=1, inplace=True)

In [224]:
df = df[df.continent == 'Europe'] #filters europe only entries

In [225]:
df.continent.value_counts() #reduced entries from 67K to 16K

Europe    16203
Name: continent, dtype: int64

In [226]:
"""
Loop to select the countries with the most common entries
INPUT: series of countries with number of entries
OUTPUT: list of the most common countries with the number of entries
"""

i = 0
theMostCommonCountry_List = []
while i < 10:
  part_index = str(df.location.value_counts().index[i])
  theMostCommonCountry_List.append( part_index )
  i = i + 1
print(theMostCommonCountry_List)

['France', 'Switzerland', 'Germany', 'Finland', 'Russia', 'United Kingdom', 'Italy', 'Spain', 'Estonia', 'Sweden']

In [227]:
df = df[df.location.isin(theMostCommonCountry_List)]  #filters entries by list of common countries

In [228]:
df = df.reset_index()   #resets index
df.drop(columns=['index','continent'], inplace=True) #drops old index column and continent becasue it is not needed
df

     iso_code        location  ... life_expectancy  human_development_index
0         EST         Estonia  ...           78.74                    0.871
1         EST         Estonia  ...           78.74                    0.871
2         EST         Estonia  ...           78.74                    0.871
3         EST         Estonia  ...           78.74                    0.871
4         EST         Estonia  ...           78.74                    0.871
...       ...             ...  ...             ...                      ...
3742      GBR  United Kingdom  ...           81.32                    0.922
3743      GBR  United Kingdom  ...           81.32                    0.922
3744      GBR  United Kingdom  ...           81.32                    0.922
3745      GBR  United Kingdom  ...           81.32                    0.922
3746      GBR  United Kingdom  ...           81.32                    0.922

[3747 rows x 50 columns]

In [229]:
"""
Loop for checking which features are object type
INPUT: pandas series
OUTPUT: list of objects
"""
list_of_objects = []
x=0
while x < len(df.columns):
  if df.dtypes.values[x] == object:
    list_of_objects.append(df.dtypes.index[x])
  x = x + 1
print(list_of_objects)

['iso_code', 'location', 'date', 'tests_units']

In [230]:
df.location.value_counts()

Switzerland       380
France            380
Germany           377
Finland           375
Italy             373
Russia            373
United Kingdom    373
Sweden            372
Estonia           372
Spain             372
Name: location, dtype: int64

In [231]:
correlation_matrix = df.corr().round(2)
correlation_matrix.shape

(46, 46)

In [232]:
#df.corr() #Tried to visualise the matrix

In [309]:
df.isna().sum()

iso_code                                  0
location                                  0
date                                      0
total_cases                              58
new_cases                                58
total_deaths                            383
new_deaths                              383
total_cases_per_million                  58
new_cases_per_million                    58
total_deaths_per_million                383
new_deaths_per_million                  383
reproduction_rate                       521
icu_patients                           1448
icu_patients_per_million               1448
hosp_patients                          1735
hosp_patients_per_million              1735
weekly_icu_admissions                  3562
weekly_icu_admissions_per_million      3562
weekly_hosp_admissions                 3452
weekly_hosp_admissions_per_million     3452
new_tests                              1243
total_tests                            1609
total_tests_per_thousand               1609
new_tests_per_thousand                 1243
positive_rate                           943
tests_per_case                          966
tests_units                             605
total_vaccinations                     3478
people_vaccinated                      3535
people_fully_vaccinated                3618
new_vaccinations                       3520
total_vaccinations_per_hundred         3478
people_vaccinated_per_hundred          3535
people_fully_vaccinated_per_hundred    3618
stringency_index                         33
population                                0
population_density                        0
median_age                                0
aged_65_older                             0
aged_70_older                             0
gdp_per_capita                            0
extreme_poverty                        1512
cardiovasc_death_rate                     0
diabetes_prevalence                       0
female_smokers                            0
male_smokers                              0
handwashing_facilities                 3747
hospital_beds_per_thousand                0
life_expectancy                           0
human_development_index                   0
dtype: int64

In [313]:
df = df.drop(columns='handwashing_facilities')

KeyError: ignored

In [314]:
df

     iso_code        location  ... life_expectancy  human_development_index
0         EST         Estonia  ...           78.74                    0.871
1         EST         Estonia  ...           78.74                    0.871
2         EST         Estonia  ...           78.74                    0.871
3         EST         Estonia  ...           78.74                    0.871
4         EST         Estonia  ...           78.74                    0.871
...       ...             ...  ...             ...                      ...
3742      GBR  United Kingdom  ...           81.32                    0.922
3743      GBR  United Kingdom  ...           81.32                    0.922
3744      GBR  United Kingdom  ...           81.32                    0.922
3745      GBR  United Kingdom  ...           81.32                    0.922
3746      GBR  United Kingdom  ...           81.32                    0.922

[3747 rows x 49 columns]