### **Imports**

In [ ]:
import time
start_time = time.time()
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io
import math
import string
import os

from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split, cross_val_score

import warnings
warnings.filterwarnings('ignore')

### **DataSet** **Upload**

In [ ]:
from google.colab import files , drive

#upload for files in google drive
drive.mount('/content/gdrive')
dataset = "/content/gdrive/My Drive/Colab Notebooks/covid_data.csv"

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
"""
#alternative for local file upload (file needs to be downloaded locally)
from google.colab import files
uploaded = files.upload()
df = pd.read_csv(io.BytesIO(uploaded['covid_data.csv']))
"""

"\n#alternative for local file upload (file needs to be downloaded locally)\nfrom google.colab import files\nuploaded = files.upload()\ndf = pd.read_csv(io.BytesIO(uploaded['covid_data.csv']))\n"

### **DataUpload check**

In [ ]:
df = pd.read_csv(dataset) #this will be omited for alterantive upload

In [ ]:
df.shape

(67166, 59)

In [ ]:
df.head(5)

  iso_code continent  ... life_expectancy human_development_index
0      AFG      Asia  ...           64.83                   0.498
1      AFG      Asia  ...           64.83                   0.498
2      AFG      Asia  ...           64.83                   0.498
3      AFG      Asia  ...           64.83                   0.498
4      AFG      Asia  ...           64.83                   0.498

[5 rows x 59 columns]

In [ ]:
df.nunique()

iso_code                                   192
continent                                    6
location                                   200
date                                       403
total_cases                              34313
new_cases                                 9391
new_cases_smoothed                       17775
total_deaths                             12928
new_deaths                                2305
new_deaths_smoothed                       5143
total_cases_per_million                  48425
new_cases_per_million                    27581
new_cases_smoothed_per_million           31234
total_deaths_per_million                 28379
new_deaths_per_million                    5548
new_deaths_smoothed_per_million           6782
reproduction_rate                          356
icu_patients                              1938
icu_patients_per_million                  3956
hosp_patients                             3696
hosp_patients_per_million                 6291
weekly_icu_admissions                      487
weekly_icu_admissions_per_million          482
weekly_hosp_admissions                     990
weekly_hosp_admissions_per_million         987
new_tests                                16890
total_tests                              29553
total_tests_per_thousand                 25397
new_tests_per_thousand                    5359
new_tests_smoothed                       18871
new_tests_smoothed_per_thousand           5575
positive_rate                              564
tests_per_case                            4996
tests_units                                  4
total_vaccinations                        1465
people_vaccinated                         1214
people_fully_vaccinated                    624
new_vaccinations                          1212
new_vaccinations_smoothed                 1766
total_vaccinations_per_hundred             555
people_vaccinated_per_hundred              469
people_fully_vaccinated_per_hundred        172
new_vaccinations_smoothed_per_million     1264
stringency_index                           175
population                                 192
population_density                         188
median_age                                 131
aged_65_older                              180
aged_70_older                              178
gdp_per_capita                             184
extreme_poverty                             75
cardiovasc_death_rate                      185
diabetes_prevalence                        136
female_smokers                             108
male_smokers                               124
handwashing_facilities                      95
hospital_beds_per_thousand                 100
life_expectancy                            179
human_development_index                    159
dtype: int64

In [ ]:
df.dtypes.value_counts()

float64    54
object      5
dtype: int64

In [ ]:
df.dtypes

iso_code                                  object
continent                                 object
location                                  object
date                                      object
total_cases                              float64
new_cases                                float64
new_cases_smoothed                       float64
total_deaths                             float64
new_deaths                               float64
new_deaths_smoothed                      float64
total_cases_per_million                  float64
new_cases_per_million                    float64
new_cases_smoothed_per_million           float64
total_deaths_per_million                 float64
new_deaths_per_million                   float64
new_deaths_smoothed_per_million          float64
reproduction_rate                        float64
icu_patients                             float64
icu_patients_per_million                 float64
hosp_patients                            float64
hosp_patients_per_million                float64
weekly_icu_admissions                    float64
weekly_icu_admissions_per_million        float64
weekly_hosp_admissions                   float64
weekly_hosp_admissions_per_million       float64
new_tests                                float64
total_tests                              float64
total_tests_per_thousand                 float64
new_tests_per_thousand                   float64
new_tests_smoothed                       float64
new_tests_smoothed_per_thousand          float64
positive_rate                            float64
tests_per_case                           float64
tests_units                               object
total_vaccinations                       float64
people_vaccinated                        float64
people_fully_vaccinated                  float64
new_vaccinations                         float64
new_vaccinations_smoothed                float64
total_vaccinations_per_hundred           float64
people_vaccinated_per_hundred            float64
people_fully_vaccinated_per_hundred      float64
new_vaccinations_smoothed_per_million    float64
stringency_index                         float64
population                               float64
population_density                       float64
median_age                               float64
aged_65_older                            float64
aged_70_older                            float64
gdp_per_capita                           float64
extreme_poverty                          float64
cardiovasc_death_rate                    float64
diabetes_prevalence                      float64
female_smokers                           float64
male_smokers                             float64
handwashing_facilities                   float64
hospital_beds_per_thousand               float64
life_expectancy                          float64
human_development_index                  float64
dtype: object

### **Data Preprocessing**

In [ ]:
df.drop(['new_cases_smoothed','new_deaths_smoothed','new_cases_smoothed_per_million','new_deaths_smoothed_per_million',
         'new_tests_smoothed_per_thousand','new_tests_smoothed', 'new_vaccinations_smoothed', 'new_vaccinations_smoothed_per_million'], axis=1, inplace=True)

In [ ]:
df = df[df.continent == 'Europe'] #filters europe only entries

In [ ]:
df.continent.value_counts() #reduced entries from 67K to 16K

Europe    16203
Name: continent, dtype: int64

In [ ]:
"""
Loop to select the countries with the most common entries
INPUT: series of countries with number of entries
OUTPUT: list of the most common countries with the number of entries
"""

i = 0
theMostCommonCountry_List = []
while i < 10:
  part_index = str(df.location.value_counts().index[i])
  theMostCommonCountry_List.append( part_index )
  i = i + 1
print(theMostCommonCountry_List)

['France', 'Switzerland', 'Germany', 'Finland', 'Italy', 'United Kingdom', 'Russia', 'Sweden', 'Estonia', 'Spain']

In [ ]:
df = df[df.location.isin(theMostCommonCountry_List)]  #filters entries by list of common countries

In [ ]:
df = df.reset_index()   #resets index
df.drop(columns=['index','continent'], inplace=True) #drops old index column and continent becasue it is not needed
df

     iso_code        location  ... life_expectancy  human_development_index
0         EST         Estonia  ...           78.74                    0.871
1         EST         Estonia  ...           78.74                    0.871
2         EST         Estonia  ...           78.74                    0.871
3         EST         Estonia  ...           78.74                    0.871
4         EST         Estonia  ...           78.74                    0.871
...       ...             ...  ...             ...                      ...
3742      GBR  United Kingdom  ...           81.32                    0.922
3743      GBR  United Kingdom  ...           81.32                    0.922
3744      GBR  United Kingdom  ...           81.32                    0.922
3745      GBR  United Kingdom  ...           81.32                    0.922
3746      GBR  United Kingdom  ...           81.32                    0.922

[3747 rows x 50 columns]

In [ ]:
"""
Loop for checking which features are object type
INPUT: pandas series
OUTPUT: list of objects
"""
list_of_objects = []
x=0
while x < len(df.columns):
  if df.dtypes.values[x] == object:
    list_of_objects.append(df.dtypes.index[x])
  x = x + 1
print(list_of_objects)

['iso_code', 'location', 'date', 'tests_units']

In [ ]:
df.iso_code = LabelEncoder().fit_transform(df.iso_code)
df.location = LabelEncoder().fit_transform(df.location)
df.date = LabelEncoder().fit_transform(df.date)

In [ ]:
df.tests_units.fillna('Not Tested', inplace=True)
df.tests_units.value_counts()

tests performed    2877
Not Tested          605
people tested       265
Name: tests_units, dtype: int64

In [ ]:
df.tests_units = df.tests_units.replace(['tests performed', 'people tested'], 'Tested')
df.tests_units.value_counts()

Tested        3142
Not Tested     605
Name: tests_units, dtype: int64

In [ ]:
df.tests_units = LabelEncoder().fit_transform(df.tests_units)

In [ ]:
df.dtypes

iso_code                                 int64
location                                 int64
date                                     int64
total_cases                            float64
new_cases                              float64
total_deaths                           float64
new_deaths                             float64
total_cases_per_million                float64
new_cases_per_million                  float64
total_deaths_per_million               float64
new_deaths_per_million                 float64
reproduction_rate                      float64
icu_patients                           float64
icu_patients_per_million               float64
hosp_patients                          float64
hosp_patients_per_million              float64
weekly_icu_admissions                  float64
weekly_icu_admissions_per_million      float64
weekly_hosp_admissions                 float64
weekly_hosp_admissions_per_million     float64
new_tests                              float64
total_tests                            float64
total_tests_per_thousand               float64
new_tests_per_thousand                 float64
positive_rate                          float64
tests_per_case                         float64
tests_units                              int64
total_vaccinations                     float64
people_vaccinated                      float64
people_fully_vaccinated                float64
new_vaccinations                       float64
total_vaccinations_per_hundred         float64
people_vaccinated_per_hundred          float64
people_fully_vaccinated_per_hundred    float64
stringency_index                       float64
population                             float64
population_density                     float64
median_age                             float64
aged_65_older                          float64
aged_70_older                          float64
gdp_per_capita                         float64
extreme_poverty                        float64
cardiovasc_death_rate                  float64
diabetes_prevalence                    float64
female_smokers                         float64
male_smokers                           float64
handwashing_facilities                 float64
hospital_beds_per_thousand             float64
life_expectancy                        float64
human_development_index                float64
dtype: object

In [ ]:
df.location.value_counts() #counts amount of entrires

8    380
2    380
3    377
1    375
9    373
5    373
4    373
7    372
6    372
0    372
Name: location, dtype: int64

In [ ]:
correlation_matrix = df.corr().round(2) 
correlation_matrix.shape #checks size of the matrix

(50, 50)

In [ ]:
df.isna().sum() #counts NA values

iso_code                                  0
location                                  0
date                                      0
total_cases                              58
new_cases                                58
total_deaths                            383
new_deaths                              383
total_cases_per_million                  58
new_cases_per_million                    58
total_deaths_per_million                383
new_deaths_per_million                  383
reproduction_rate                       521
icu_patients                           1448
icu_patients_per_million               1448
hosp_patients                          1735
hosp_patients_per_million              1735
weekly_icu_admissions                  3562
weekly_icu_admissions_per_million      3562
weekly_hosp_admissions                 3452
weekly_hosp_admissions_per_million     3452
new_tests                              1243
total_tests                            1609
total_tests_per_thousand               1609
new_tests_per_thousand                 1243
positive_rate                           943
tests_per_case                          966
tests_units                               0
total_vaccinations                     3478
people_vaccinated                      3535
people_fully_vaccinated                3618
new_vaccinations                       3520
total_vaccinations_per_hundred         3478
people_vaccinated_per_hundred          3535
people_fully_vaccinated_per_hundred    3618
stringency_index                         33
population                                0
population_density                        0
median_age                                0
aged_65_older                             0
aged_70_older                             0
gdp_per_capita                            0
extreme_poverty                        1512
cardiovasc_death_rate                     0
diabetes_prevalence                       0
female_smokers                            0
male_smokers                              0
handwashing_facilities                 3747
hospital_beds_per_thousand                0
life_expectancy                           0
human_development_index                   0
dtype: int64

In [ ]:
df = df.drop(columns=['handwashing_facilities','weekly_icu_admissions',
                      'weekly_icu_admissions_per_million', 'weekly_hosp_admissions', 
                      'weekly_hosp_admissions_per_million', 'icu_patients_per_million',
                      'hosp_patients_per_million', 'total_cases_per_million', 'new_cases_per_million',
                      'total_deaths_per_million', 
                      ]) #drops those columns from the dataset

### **Target Dataset Preprocessing**

In [ ]:
print("", df["stringency_index"].max(), " = highest restriction value \n",
      df["stringency_index"].mean(), " = average restriction value \n",
      df["stringency_index"].min(), " = lowest restriction value \n")

 93.52  = highest restriction value
 54.220298869143704  = average restriction value
 0.0  = lowest restriction value

In [ ]:


#loop for changing all the values smaller than 53 to 0 
i = 0
while i < len(df): 
  if df.stringency_index[i] < 53.0:
    df.stringency_index  = df.stringency_index.replace(df.stringency_index[i], 0)

  elif math.isnan(df.stringency_index[i]) == True:
    df.stringency_index  = df.stringency_index.replace((df.stringency_index[i]), 0)

  i = i + 1
#loop for changning all the values bigger than 53 to 1
i=0
while i < len(df):
  if df.stringency_index[i] >= 53.0:
    df.stringency_index  = df.stringency_index.replace(df.stringency_index[i], 1)
  i = i + 1

In [ ]:
#replace floats with string
df.stringency_index  = df.stringency_index.replace(1.0, "lockdown")
df.stringency_index  = df.stringency_index.replace(0.0, "open")

In [ ]:
df.stringency_index.value_counts()

lockdown    2202
open        1545
Name: stringency_index, dtype: int64

In [ ]:
df = df.fillna(0)

In [ ]:
Y = df.stringency_index
X = df.drop(columns=['stringency_index'])

### **RFE Feature Selection**

In [ ]:
#importing algorithm to select best performing features
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier


rfe_selector = RFE(estimator=DecisionTreeClassifier(), n_features_to_select = 10, step = 1)

rfe_transformed = rfe_selector.fit_transform(X, Y)

cols = list(X.columns)

DecisionTreeClassifier().fit(rfe_transformed,Y)

temp = pd.Series(rfe_selector.support_, index=cols) #support changes rfe selector into numpy array

selected_features = temp[temp==True].index

In [ ]:
selected_features

Index(['date', 'total_cases', 'total_deaths', 'new_deaths',
       'reproduction_rate', 'icu_patients', 'hosp_patients',
       'population_density', 'aged_70_older', 'male_smokers'],
      dtype='object')

### **Building Model**

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, plot_confusion_matrix, confusion_matrix,classification_report
from sklearn.naive_bayes import GaussianNB, BernoulliNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

In [ ]:
X = df.filter(items=selected_features)
X

      date  total_cases  ...  aged_70_older  male_smokers
0        8          0.0  ...         13.491          39.3
1        9          0.0  ...         13.491          39.3
2       10          0.0  ...         13.491          39.3
3       11          0.0  ...         13.491          39.3
4       12          0.0  ...         13.491          39.3
...    ...          ...  ...            ...           ...
3742   375    3863757.0  ...         12.527          24.7
3743   376    3882972.0  ...         12.527          24.7
3744   377    3903706.0  ...         12.527          24.7
3745   378    3922910.0  ...         12.527          24.7
3746   379    3941273.0  ...         12.527          24.7

[3747 rows x 10 columns]

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3, random_state=3)

In [ ]:
X_train.shape

(2622, 10)

In [ ]:
performanceList = []

In [ ]:
gnb = GaussianNB()

model_gnb = gnb.fit(X_train, Y_train)    #fitting the model
y_pred = gnb.fit(X_train, Y_train).predict(X_test)    #predicting Gaussian NB the target

print("Training accuracy: {:,.4f}".format(model_gnb.score(X_train, Y_train)))
print("Testing accuracy: {:,.4f}".format(model_gnb.score(X_test, Y_test)))

print("Total points: ", X_test.shape[0], "\nMiss matched points: ", (Y_test != y_pred).sum(), "\nAccuracy: {:.4f}".format(accuracy_score(Y_test, y_pred)))

performanceList.append(model_gnb)

Training accuracy: 0.5934
Testing accuracy: 0.6080
Total points:  1125
Miss matched points:  441
Accuracy: 0.6080

In [ ]:
bnb = BernoulliNB()

model_bnb = bnb.fit(X_train, Y_train)    #fitting Bernoulli NB
y_pred = bnb.fit(X_train, Y_train).predict(X_test)    #predicting Bernoulli NB the target

print("Training accuracy: {:,.4f}".format(model_bnb.score(X_train, Y_train)))
print("Testing accuracy: {:,.4f}".format(model_bnb.score(X_test, Y_test)))

print("Total points: ", X_test.shape[0], "\nMiss matched points: ", (Y_test != y_pred).sum(), "\nAccuracy: {:.4f}".format(accuracy_score(Y_test, y_pred)))

performanceList.append(model_bnb)

Training accuracy: 0.7273
Testing accuracy: 0.7138
Total points:  1125
Miss matched points:  322
Accuracy: 0.7138

In [ ]:
logistic = LogisticRegression()

model_log = logistic.fit(X_train, Y_train) #logistic regression is fitted
y_test_pred = model_log.predict(X_test) #predicting Logistic Regression's target

print("Training accuracy: {:,.4f}".format(model_log.score(X_train, Y_train)))
print("Testing accuracy: {:,.4f}".format(model_log.score(X_test, Y_test)))

print("Total points: ", X_test.shape[0], "\nMiss matched points: ", (Y_test != y_test_pred).sum(), "\nAccuracy: {:.4f}".format(accuracy_score(Y_test, y_test_pred)))

performanceList.append(model_log)

Training accuracy: 0.7307
Testing accuracy: 0.7164
Total points:  1125
Miss matched points:  319
Accuracy: 0.7164

In [ ]:
svm = SVC()

model_SVM = svm.fit(X_train, Y_train)
y_test_pred = model_SVM.predict(X_test)

print("Training accuracy: {:,.4f}".format(model_SVM.score(X_train, Y_train)))
print("Testing accuracy: {:,.4f}".format(model_SVM.score(X_test, Y_test)))

print("Total points: ", X_test.shape[0], "\nMiss matched points: ", (Y_test != y_test_pred).sum(), "\nAccuracy: {:.4f}".format(accuracy_score(Y_test, y_test_pred)))

performanceList.append(model_SVM)

Training accuracy: 0.7372
Testing accuracy: 0.7316
Total points:  1125
Miss matched points:  302
Accuracy: 0.7316

In [ ]:
knn = KNeighborsClassifier(n_neighbors=10,p=1)#hyper parameter tuning

model_knn = knn.fit(X_train, Y_train)
y_test_pred = model_knn.predict(X_test)

print("Training accuracy: {:,.4f}".format(model_knn.score(X_train, Y_train)))
print("Testing accuracy: {:,.4f}".format(model_knn.score(X_test, Y_test)))

print("Total points: ", X_test.shape[0], "\nMiss matched points: ", (Y_test != y_test_pred).sum(), "\nAccuracy: {:.4f}".format(accuracy_score(Y_test, y_test_pred)))

performanceList.append(model_knn)

Training accuracy: 0.9123
Testing accuracy: 0.8809
Total points:  1125
Miss matched points:  134
Accuracy: 0.8809

In [ ]:
dTree = DecisionTreeClassifier()

model_dTree = dTree.fit(X_train, Y_train)
y_test_pred = model_dTree.predict(X_test)

print("Training accuracy: {:,.4f}".format(model_dTree.score(X_train, Y_train)))
print("Testing accuracy: {:,.4f}".format(model_dTree.score(X_test, Y_test)))

print("Total points: ", X_test.shape[0], "\nMiss matched points: ", (Y_test != y_test_pred).sum(), "\nAccuracy: {:.4f}".format(accuracy_score(Y_test, y_test_pred)))

performanceList.append(model_dTree)

Training accuracy: 1.0000
Testing accuracy: 0.9840
Total points:  1125
Miss matched points:  18
Accuracy: 0.9840

In [ ]:
rForest = RandomForestClassifier()

model_rForest = rForest.fit(X_train, Y_train)
y_test_pred = model_rForest.predict(X_test)

print("Training accuracy: {:,.4f}".format(model_rForest.score(X_train, Y_train)))
print("Testing accuracy: {:,.4f}".format(model_rForest.score(X_test, Y_test)))

print("Total points: ", X_test.shape[0], "\nMiss matched points: ", (Y_test != y_test_pred).sum(), "\nAccuracy: {:.4f}".format(accuracy_score(Y_test, y_test_pred)))

performanceList.append(model_rForest)

Training accuracy: 1.0000
Testing accuracy: 0.9876
Total points:  1125
Miss matched points:  14
Accuracy: 0.9876

In [ ]:
adaB = AdaBoostClassifier()

model_adaB = adaB.fit(X_train, Y_train)
y_test_pred = model_adaB.predict(X_test)

print("Training accuracy: {:,.4f}".format(model_adaB.score(X_train, Y_train)))
print("Testing accuracy: {:,.4f}".format(model_adaB.score(X_test, Y_test)))

print("Total points: ", X_test.shape[0], "\nMiss matched points: ", (Y_test != y_test_pred).sum(), "\nAccuracy: {:.4f}".format(accuracy_score(Y_test, y_test_pred)))

performanceList.append(model_adaB)

Training accuracy: 0.9432
Testing accuracy: 0.9262
Total points:  1125
Miss matched points:  83
Accuracy: 0.9262